body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

table{
color: #fff;
text-align: center;
border-collapse: collapse;
font: normal 3em Arial, Helvetica, sans-serif;
background-color: #333;
border-radius: 10px;
padding: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

tr{
height: 16.02vh;
background-color: #4e494d;
}

td{
width: 25vw;
border: 1px solid #4e494d;
border-radius: 5px;
cursor: pointer;
}

#inputBox{
background-color: #4e494d; 
text-align: right;
width: 100%; 
font-size: 2em;
color: #fff; 
border: 0px;
box-sizing: border-box;
padding: 10px;
border-radius: 5px;
}

.digitButton{ 
   background-color: #807e80;
}
.digitButton:hover {
    background-color: #908e90;
}
.operatorButton{ 
   background-color: #ff9e06;
}
.operatorButton:hover {
    background-color: #ffad33;
}
.ACButton{
background-color: #656165;
}
.ACButton:hover {
    background-color: #757575;
}

#outputText {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}
